<mat-toolbar class="toolbar">
  <button class="toolbar__icon-button" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <div class="toolbar__logo-title-group" fxLayout fxLayoutAlign="center center">
    <a routerLink="/" fxLayout><img class="toolbar__logo" src="/assets/logo.svg" alt="loboAuction Logo"></a>
    <a routerLink="/" fxLayout>LoboAuction</a>
  </div>
  <div fxFlex></div>
  <button mat-icon-button class="toolbar__icon-button toolbar__shopping-cart-button"></button>
  <mat-icon>shopping_cart</mat-icon>
</mat-toolbar>
<router-outlet></router-outlet>
<app-projection>
  <div select=".header">
  <div>Este div header se muestra en projection component aunque viene de app component</div>
</div>
<div select=".footer">
  <div>Este footer div se muestra en projection component aunque viene de app component</div>
</div>
</app-projection>